.container {
  box-sizing: border-box;
  width: 600px;
  height: 600px;
  margin: 15px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container div:first-child {
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  background-color: blue;
  color: none;
}

.container div:nth-child(2) {
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  background-color: rgb(255, 0, 0);
  color: none;
}

.container div:nth-child(3) {
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  background-color: rgb(102, 255, 0);
  color: transparent;
}

.container div:nth-child(4) {
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  background-color: rgb(183, 0, 255);
  color: none;
}

.container div:nth-child(5) {
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  background-color: rgb(248, 225, 14);
  color: none;
}